# Python-Bytecode
__pycache__/
*.pyc
*.pyo

# Virtual Environments
venv/
.venv/

# Log-Dateien
*.log

# IDE- und Editor-Dateien
.idea/
.vscode/
.DS_Store

# Betriebssystem-Dateien
Thumbs.db

assets/
vector_db/
documents/
processed_documents/